body {
	margin: 0;
	width: 99vw;
	height: 99vh;
	background: rgb(200, 25, 208);
	background: radial-gradient(
		circle,
		rgba(200, 25, 208, 1) 0%,
		rgba(42, 33, 42, 1) 75%
	);
}

.div-iphone {
	background: url("./iphone.png");
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: center;

	padding: 20rem 0;
	position: absolute;
	bottom: 0;
	left: 30%;
	box-sizing: border-box;
}
